In [2]:
number= [1,2,3,4,5,6,7,8,9,10,11,12,13]
list(map(lambda x:x*2,number))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26]

In [5]:
# mp multiple iterbales
n1 = [1,2,3,4,5]
n2 = [6,7,8,9,10]
list(map(lambda x,y:x+y,n1,n2))

[7, 9, 11, 13, 15]

In [6]:
ls = ["1", "2", "3"]
convert =list(map(int, ls))
convert

[1, 2, 3]

In [2]:
def sq(x):
    return x*x
sq(4)

16

In [9]:
words = ['apples','orange','orange','orange','orange','orange','orange','orange']
upper = list(map(str.upper, words))
upper

['APPLES',
 'ORANGE',
 'ORANGE',
 'ORANGE',
 'ORANGE',
 'ORANGE',
 'ORANGE',
 'ORANGE']

In [10]:
def get_name(people):
    return people["name"]
people = [{ "name": "John", "age": 20},{ "name": "jack", "age": 90},{ "name": "honey", "age": 20}]

list(map(get_name, people))

['John', 'jack', 'honey']