In [4]:
import pandas as pd
data = [1,2,3]
new = pd.Series(data)

In [5]:
new

0    1
1    2
2    3
dtype: int64

In [6]:
dict1 = {"a":1, "b":2, "c":3}
pd.Series(dict1)

a    1
b    2
c    3
dtype: int64

In [8]:
ls = [10,20,30,40]
index = ['a','b','c','d']
pd.Series(ls,index=index)

a    10
b    20
c    30
d    40
dtype: int64

In [9]:
# Dataframe
# create a df from a dict of lis 
dict_data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
df = pd.DataFrame(dict_data)

# create a df from a list of tuples

In [12]:
type(df)

pandas.core.frame.DataFrame

In [13]:
import numpy as np
np.array(dict_data)

array({'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'], 'year': [2000, 2001, 2002, 2001, 2002, 2003], 'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]},
      dtype=object)

In [35]:
# Create a df from a list of dict 
dict_data = [
    {"name": "sirak", 'age': 32},
    {"name": "sirak", 'age': 32},
    {"name": "sirak", 'age': 32},
    {"name": "sirak", 'age': 32}
    


]
df = pd.DataFrame(dict_data)

In [21]:
df.head()

    name  age
0  sirak   32
1  sirak   32
2  sirak   32
3  sirak   32
4  sirak   32

In [24]:
df.iloc[0][0]

/tmp/ipykernel_6501/2900375399.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df.iloc[0][0]

'sirak'

In [30]:
# accessing a specified element 

df.at[1,'name']

'sirak'

In [32]:
# accessing a specified element  using iat
df.iat[1,1]

32

In [36]:
# data manipulation with dataframes  
# addimg a column 

df['salary'] = [4000,50000,10,2000]

In [38]:
# remove a column from
df.drop('salary', axis=1, inplace=True)

In [42]:
df['age']+1

0    33
1    33
2    33
3    33
Name: age, dtype: int64

In [43]:
df.describe()

        age
count   4.0
mean   32.0
std     0.0
min    32.0
25%    32.0
50%    32.0
75%    32.0
max    32.0