In [3]:
import pandas as pd
df = pd.read_csv("text.csv")

In [2]:
df.head()

   X0 X1  X2 X3 X4 X5
0   k  v  at  a  d  u
1   k  t  av  e  d  y
2  az  w   n  c  d  x
3  az  t   n  f  d  x
4  az  v   n  f  d  h

In [3]:
df.dtypes

X0    object
X1    object
X2    object
X3    object
X4    object
X5    object
dtype: object

In [5]:
# handling missing values
df.isnull().any(axis=1)

0       False
1       False
2       False
3       False
4       False
        ...
4204    False
4205    False
4206    False
4207    False
4208    False
Length: 4209, dtype: bool

In [9]:
df.rename(columns={"X0": "name"})


df["surajdp"] = []

KeyError: 'name'

In [1]:
# change data type 
# data agrregatig and grouping

In [8]:
# merging and joning dataframes 
df1= pd.DataFrame({"key": ["a","b","c"], "value":["1","2","3"]})
df2= pd.DataFrame({"key": ["a","b","c"], "value":["4","5","6"]})

In [9]:
print(df2)
print(df1)
merged_df = pd.merge(df1, df2, on='key')

  key value
0   a     4
1   b     5
2   c     6
  key value
0   a     1
1   b     2
2   c     3

In [20]:
merged_df = pd.merge(df1, df2, on='key',how="left")

In [21]:
merged_df

  key value_x value_y
0   a       1       4
1   b       2       5
2   c       3       6