In [2]:
import sqlite3

In [34]:
# connect to sqllite db 
conn = sqlite3.connect('mydatabase.db')

# create a cursor object
cursor = conn.cursor()

# create table
cursor.execute('''CREATE TABLE IF NOT EXISTS employees (
                 id INTEGER PRIMARY KEY,
                 name TEXT NOT NULL,
                 department TEXT NOT NULL,
                 salary REAL NOT NULL
                 )''')

In [35]:
# commit the changes 
conn.commit()

In [36]:
cursor.execute('''select * from employees''')

In [37]:
# insert the data in sqllite3 
data = [('1', 'John Doe', 'IT', 50000), ('2', 'Jane Smith', 'HR', 60000), ('3', 'David Johnson', 'Finance', 70000)]
cursor.executemany('INSERT INTO employees VALUES (?,?,?,?)', data)

OperationalError: database is locked

In [11]:
data

[('1', 'John Doe', 'IT', 50000),
 ('2', 'Jane Smith', 'HR', 60000),
 ('3', 'David Johnson', 'Finance', 70000)]

In [26]:
# quering the data from the stable  
cursor.execute('''select * from employees''')
rows = cursor.fetchall()
rows

[(1, 'John Doe', 'IT', 55000.0),
 (2, 'Jane Smith', 'HR', 60000.0),
 (3, 'David Johnson', 'Finance', 70000.0)]

In [15]:
# update the data in the table  
cursor.execute("UPDATE employees SET salary = 55000 WHERE id = 1")

In [18]:
conn.commit()

# rows

In [32]:
rows

[]

In [29]:
# delte the data from the table  
cursor.execute("DELETE FROM employees WHERE id = 3")
conn.commit()

In [31]:
rows = cursor.fetchall()
rows

[]